@import url("https://fonts.googleapis.com/css2?family=Lato&family=League+Gothic&family=Smooch+Sans:wght@400;500&display=swap");
@import "../utils/variables.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-lato;
}

p {
  font-family: $font-smooch;
  font-size: 1.4rem;
}

a,
label {
  font-family: $font-league;
}
